{block title}{$title}{/block}
{block scripts}{/block}
{block header}{/block} {*I dont use header in this part because as a header works links for msgs | nots*}
{*<h1 n:block=header>{snippet headerSnippet}{$header}{/snippet}</h1>*}

@{block content}


<div id="tabs">

					<ul>
						<li {if $type == msgs}class="ui-tabs-active ui-state-active"{/if}>
							<a	n:href="getMsgs!"	class="ajax" >{snippet msgsHeader}<i class="fa fa-inbox"></i> Zprávy ({$notReadMsgs}){/snippet}</a>
						</li>
						<li {if $type == nots}class="ui-tabs-active ui-state-active"{/if}>
							<a	 n:href="getNots!" class="ajax" >{snippet notsHeader}<i class="fa fa-star"></i> Notifikace ({$notReadNots}){/snippet}</a>
						</li>
					</ul>
				</div>

{snippet listMsgsNots}
	<table class="table table-striped table-hover table-heading table-datatable dataTable notSort" id="datatable">
		<thead>
			<tr>
				<th>Obsah</th>
				<th>Datum</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$items as $item">
				<td>
					{if $type == nots}
						<div class="notification" data-id="{$item[id]}" >
							<span {if $item[read] == 'false'} style="font-weight: bold"{/if} class="point">{$item[name]}: </span>
							{$item[title]}
						</div>
						<div class="row" id="not{$item[id]}" style="display:none">
							<div class="col-xs-12" > {!$item[content]}</div>
						</div>
					{elseif $type == msgs}
						<a n:href="showThread! $item[id]" data-id="{$item[id]}" class="ajax tomodal" data-toggle="modal" data-target="myModal"	{if $item[read] == 'false'} style="font-weight: bold" {else}	style="font-weight: normal" {/if} >{$item[name]}</a>
					{/if}
				</td>
				<td>
					{$item[date]|date:'%d.%m.%Y %H:%M:%S'}
				</td>
			</tr>
		</tbody>
	</table>
	<script>
	initNotifications();
	 update();
	</script>
{/snippet}


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">
			{snippet titleSnippet}
				{if isset($showTitle)}
				{$modalTitle}
				{/if}
			{/snippet}
		</h4>
		</div>
		<div class="modal-body">
		{snippet msgSnippet}
		{if isset($showThread)}
			<ul class="chat">
			<li n:foreach="$msgs as $msg" class="{$msg[float]}">
				<div>
					<span class="chatName">{$msg[name]}</span>
					<span class="chatEmail">({$msg[email]})</span><br>
					<span class="chatDate">{$msg[date]}</span>
					<span class="chatText">{$msg[text]}</span>
				</div>
			</li>
			</ul>
			{if isset($showReply) && $showReply == true}
				{control replyForm}
			{/if}
		{/if}
		{/snippet}
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
		</div>
	</div>
	</div>
</div>
