{block title}{$title}{/block}

<h1 n:block=header>{snippet headerSnippet}{$header}{/snippet}</h1>
{block scripts}
<script type="text/javascript" src="{$basePath}/js/highslide/highslide-with-gallery.js"></script>

<link rel="stylesheet" type="text/css" href="{$basePath}/css/highslide/highslide.css" />
<script type="text/javascript">

</script>

{/block}
@{block content}

<div class="leftForm">
<h2 class="h2Form"><i class="fa fa-list"></i> Atributy</h2>
{control newUnitForm}

</div>

<div class="rightForm">
<h2 class="h2Form"><i class="fa fa-picture-o"></i> Záběry</h2>

{*<h3>Záběry</h2>*}
<table>
<tr n:foreach="$files as $file">
	<th>{$file[att]->name}
		{if $file[att]->require == true}
		*
		{/if}
		</th>

	<td>
		{if isset($file[img])}
			<a href="{plink Image:unitPhoto $file[img], 'big'}" class="highslide" id="img{$file[att]->id}" onclick="return hs.expand(this)">
					<img src="{plink Image:unitPhoto $file[img], 'small'}"
					title="Klikněte pro zvětšení" />
			</a>
			<a href="javascript:editPhoto({$file[att]->id});">Změnit</a>
			<div class="image-uploader hidden" id="add{$file[att]->id}" data-url="student?do=uploadPicture&attId={$file[att]->id}">{$file[att]->id}</div>
		{else}
			<div class="image-uploader" data-delurl="student?do=delPic&id=" data-url="student?do=uploadPicture&attId={$file[att]->id}">{$file[att]->id}</div>
		{/if}
	</td>
</tr>
</table>
<h2 class="h2Form"><i class="fa fa-share-alt"></i> Zařazení</h2>
<a href="javascript:$('#ajax').toggle()" class="btn btn-info">Zařadit</a>
<div id="ajax" class="" style="display:none"></div>
</div>


<script type="text/template" id="qq-template">
	<div class="qq-uploader-selector qq-uploader qq-width">
		<div class="qq-width qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
			<span>Přetáhněte soubory sem</span>
		</div>
		<div class="qq-width qq-upload-button-selector qq-upload-button">
			<div>Klikněte, nebo přetáhněte obrázky</div>
		</div>
		<span class="qq-width qq-drop-processing-selector qq-drop-processing">
		   <span>Zpracovávám přetažené soubory...</span>
		   <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
		</span>
		<ul class="qq-width qq-upload-list-selector qq-upload-list">
			<li>
				<div class="qq-progress-bar-container-selector">
					<div class="qq-progress-bar-selector qq-progress-bar"></div>
				</div>
				<span class="qq-upload-spinner-selector qq-upload-spinner"></span>
				<img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
				<span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>

				<input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
				<span class="qq-upload-size-selector qq-upload-size"></span>
				<a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Zrušit</a>
				<a class="qq-upload-retry-selector qq-upload-retry" href="#">Opakovat</a>
				<a class="qq-upload-delete-selector qq-upload-delete" href="#">Smazat</a>
				<span class="qq-upload-status-text-selector qq-upload-status-text"></span>
			</li>
		</ul>
	</div>
</script>