{block title}{$title}{/block}
{block scripts}{/block}
<h1 n:block=header>{snippet headerSnippet}{$header}{/snippet}</h1>

@{block content}

{if $editProfile}
<a n:href="UpdateUser! $profile->id" class="ajax tomodal btn btn-info" data-toggle="modal" data-target="myModal" ><i class="fa fa-pencil"></i> Upravit profil</a>
{/if}
{snippet profile}
<table class="profileTable">
	<tr>
		<th>Jméno</th>
		<td>{$profile->name}</td>
	</tr>
	<tr>
		<th>Email</th>
		<td>{$profile->email}</td>
	</tr>
	<tr>
		<th>Datum registrace</th>
		<td>{$profile->dateReg}</td>
	</tr>
	<tr>
		<th>Třída</th>
		<td><ul><li n:foreach="$grades as $grade">{$grade->name}</li></ul></td>
	</tr>
	<tr>
		<th>Zařízení {if $editProfile}<a n:href="updateDevices! $profile->id" class="ajax tomodal " data-toggle="modal" data-target="myModal" ><i class="fa fa-pencil"></i></a>{/if}</th>
		<td><ul><li n:foreach="$devices as $device">{$device[name]}</li></ul></td>
	</tr>
	<tr>
		<th>Avatar</th>
		<td>
		{snippet profilePhoto}
			<img src="{plink Image:avatar $profile->id, 'big'}" alt="{$profile->name}" style="inline-block">
		{/snippet}
			{if $editProfile}
			<div class="image-uploader" data-target="profile" data-url="student?do=uploadAvatar"></div>
			{/if}
		</td>
	</tr>

</table>
{/snippet}



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">
			{snippet titleSnippet}
				{if isset($showTitle)}
				{$modalTitle}
				{/if}
			 {/snippet}
		</h4>
	  </div>
	  <div class="modal-body">

		  {snippet updateUserFormSnippet}
			  {if isset($showUpdateForm)}
				{control updateUserForm}
			  {/if}
		  {/snippet}

		  {snippet deviceFormSnippet}
			  {if isset($showDeviceForm)}
				{control deviceForm}
			  {/if}
		  {/snippet}

	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
	  </div>
	</div>
  </div>
</div>


<script type="text/template" id="qq-template">
	<div class="qq-uploader-selector qq-uploader">
		<div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
			<span>Přetáhněte soubory sem</span>
		</div>
		<div class="qq-upload-button-selector qq-upload-button">
			<div>Klikněte, nebo přetáhněte obrázky</div>
		</div>
		<span class="qq-drop-processing-selector qq-drop-processing">
		   <span>Zpracovávám přetažené soubory...</span>
		   <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
		</span>
		<ul class="qq-upload-list-selector qq-upload-list">
			<li>
				<div class="qq-progress-bar-container-selector">
					<div class="qq-progress-bar-selector qq-progress-bar"></div>
				</div>
				<span class="qq-upload-spinner-selector qq-upload-spinner"></span>
				<img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
				<span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
				<span class="qq-upload-file-selector qq-upload-file"></span>
				<input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
				<span class="qq-upload-size-selector qq-upload-size"></span>
				<a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Zrušit</a>
				<a class="qq-upload-retry-selector qq-upload-retry" href="#">Opakovat</a>
				<a class="qq-upload-delete-selector qq-upload-delete" href="#">Smazat</a>
				<span class="qq-upload-status-text-selector qq-upload-status-text"></span>
			</li>
		</ul>
	</div>
</script>