<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{$mainTitle} | {include title}</title>
		<link rel="shortcut icon" type="image/x-icon" href="{$basePath}/img/icon.png">
		<link rel=“apple-touch-icon“ sizes=“72×72″ href=“{$basePath}/img/logo72.png“ />
        <link rel=“apple-touch-icon“ sizes=“114×114″ href=“{$basePath}/img/logo114.png“ />
		<meta name="description" content="Studentská platforma virtuálního herbáře!">
		<meta name="author" content="JiriSemmler.eu">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{$basePath}/plugins/bootstrap/bootstrap.css" rel="stylesheet">
		{*<link href="{$basePath}/plugins/bootstrap/bootstrap-theme.css" rel="stylesheet">*}
		<link href="{$basePath}/css/jquery-ui.css" rel="stylesheet">
		<link href="{$basePath}/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		<link href="{$basePath}/css/style.css" rel="stylesheet">
		<link href="{$basePath}/css/fineuploader-5.0.5.css" rel="stylesheet">
		<link href="{$basePath}/css/tree.css" rel="stylesheet">
		<link href="{$basePath}/css/main.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="modalbox">
	<div class="devoops-modal">
		<div class="devoops-modal-header">
			<div class="modal-header-name">
				<span>Basic table</span>
			</div>
			<div class="box-icons">
				<a class="close-link">
					<i class="fa fa-times"></i>
				</a>
			</div>
		</div>
		<div class="devoops-modal-inner">
		</div>
		<div class="devoops-modal-bottom">
		</div>
	</div>
</div>
<header class="navbar">
	<div class="container-fluid expanded-panel">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-2">
				<a href="{plink Public:default}">HerbariumSystem</a>
			</div>
			<div id="top-panel" class="col-xs-12 col-sm-10">
				<div class="row">
					<div class="col-xs-7 col-sm-4">
						<div id="search">
						<form method="post" action="{link Public:search}" class="search">
							<input type="text"  name="search" class="search" placeholder="hledej..." onkeydown="sendSearch()" {if isset($searchExp)}value="{$searchExp}"{/if}/>
							{*<a href="javascript:submitForm();"><i class="fa fa-search"></i></a>*}
							<input type="submit" id="searchButton" name="submit" value="Odeslat" >
						</form>
						</div>
					</div>
					<div class="col-xs-5 col-sm-8 top-panel-right">
						<a href="#" class="about tomodal" data-toggle="modal" data-target="AboutModal">o aplikaci</a>


						<ul class="nav navbar-nav pull-right panel-menu">
							{if isset($help)}
							<li class="hidden-xs">
								<a  href="#" title="Nápověda" class="tomodal" data-toggle="modal" data-target="helpModal" class="modal-link">
									<i class="fa fa-question"></i>
								</a>
							</li>
							{/if}
						{if $logged == true}
							{if isset($notReadMsgs) && isset($notReadNots)}


							<li class="hidden-xs">

								<a href="{link Student:messages}" class="modal-link">
									<i class="fa fa-envelope"></i>

									<span class="badge">{snippet msgs}{$notReadMsgs}{/snippet}</span>

								</a>

							</li>


							<li class="hidden-xs">
								<a href="{link Student:messages nots}">
									<i class="fa fa-bell"></i>
									<span class="badge">{snippet nots}{$notReadNots}{/snippet}</span>
								</a>
							</li>
							{/if}

							<li class="dropdown">
								<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
									<div class="avatar">
										<img src="{plink Image:avatar $profileID, 'small'}" alt="{$name}" class="img-circle" alt="avatar" />
									</div>
									<i class="fa fa-angle-down pull-right"></i>
									<div class="user-mini pull-right">
										<span class="welcome">Vítej,</span>
										<span>{$name}</span>
									</div>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="{link Student:profile}">
											<i class="fa fa-user"></i>
											<span>Profil</span>
										</a>
									</li>
									<li>
										<a href="{link Public:units}">
											<i class="fa fa-list-alt"></i>
											<span>Položky</span>
										</a>
									</li>

									<li>
										<a href="{link Login:out}">
											<i class="fa fa-power-off"></i>
											<span>Odhlásit se</span>
										</a>
									</li>
								</ul>
							</li>
						{else}
							<li class="hidden-xs">
								<a href="{link Login:register}" class="modal-link">
									<i class="fa fa-user-plus"></i>

								</a>
							</li>
							<li class="hidden-xs">
								<a href="{link Login:default}" class="modal-link">
									<i class="fa fa-sign-in"></i>

								</a>
							</li>
						{/if}
						</ul>
						{*{/snippety}*}
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
			{foreach $menu as $item}
			{if empty($item[sub])}
				<li>
					<a href="{link $item[link]}" title="{$item[help]}" data-placement="right">
						<i class="fa fa-{$item[icon]}"></i>
						<span class="hidden-xs">{$item[name]}</span>
					</a>
				</li>
			{else}

				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-{$item[icon]}"></i>
						<span class="hidden-xs">{$item[name]}</span>
					</a>
					<ul class="dropdown-menu">

						<li n:foreach="$item[sub] as $subitem">
							<a href="{link $subitem[link]}"  title="{$subitem[help]}" data-placement="right">
								<i class="fa fa-{$subitem[icon]}"></i>
								<span class="hidden-xs"> {$subitem[name]}</span>
							</a></li>

					</ul>
				</li>
			{/if}
			{/foreach}




			</ul>
		</div>
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">
			<!--Start Breadcrumb-->
			<div class="row">
				<div id="breadcrumb" class="col-xs-12">
					<a href="#" class="show-sidebar">
						<i class="fa fa-bars"></i>
					</a>
					<ol class="breadcrumb pull-left">
						{if empty($path)}
						<li>Herbarium system</li>
						{else}
						<li n:foreach="$path as $pathItem">
						{if $pathItem[link] == NULL}
							{$pathItem[name]}
						{else}
							{if isset($pathItem[arg])}

								<a href="{link $pathItem[link] $pathItem[arg]}">
									{$pathItem[name]}
								</a>
							{else}
								<a href="{link $pathItem[link]}">
	                              {$pathItem[name]}
	                            </a>
							{/if}
						{/if}
						</li>
						{/if}
						{*<li><a href="#">{$path}</a></li>*}
					</ol>
					<div id="social" class="pull-right">
						{*<a href="#"><i class="fa fa-google-plus"></i></a>*}
						{*<div class="fb-share-button" data-href="http://herbarium-system.eu/" data-layout="link">*}
						<a href="http://www.facebook.com/sharer.php?u={link '//this'}" target="_blank"><i class="fa fa-facebook"></i></a>



						{*<a href="#"><i class="fa fa-twitter"></i></a>*}
						{*<a href="#"><i class="fa fa-linkedin"></i></a>*}
						{*<a href="#"><i class="fa fa-youtube"></i></a>*}
					</div>
				</div>
			</div>
			<!--End Breadcrumb-->
			{*<div class="preloader">*}
				{*<img src="img/devoops_getdata.gif" class="devoops-getdata" alt="preloader"/>*}
			{*</div>*}


			<div id="dashboard-header" class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<h3>{include header}</h3>
				</div>
				<div class="clearfix visible-xs"></div>
				<div class="col-xs-12 col-sm-6 col-md-6 pull-right">
					<div class="row">
						<div class="col-xs-8" style="padding-top: 10px">
						{snippet flashes}
							<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}  .alert-dismissible">
											{$flash->message}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										</div>
										{/snippet}

						</div>


					</div>
				</div>
			</div>



			{include content}
			<div id="ajax-content"></div>
		</div>
		<!--End Content-->
	</div>
</div>
<!--End Container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script src="{$basePath}/js/jquery.js"></script>
<script src="{$basePath}/js/jquery-ui.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{$basePath}/plugins/bootstrap/bootstrap.js"></script>

<!-- All functions for this theme + document.ready processing -->
<script src="{$basePath}/js/devoops.js"></script>

<script src="{$basePath}/js/netteForms.js"></script>

<script src="{$basePath}/js/jquery.ajaxform.js"></script>
<script src="{$basePath}/js/nette.ajax.js"></script>
<script src="http://ethaizone.github.io/Bootstrap-Confirmation/assets/js/bootstrap-tooltip.js"></script>
<script src="{$basePath}/plugins/datatables/jquery.dataTables.js"></script>
<script src="{$basePath}/plugins/datatables/ZeroClipboard.js"></script>
<script src="{$basePath}/plugins/datatables/TableTools.js"></script>
<script src="{$basePath}/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{$basePath}/js/bootstrap-confirmation.js"></script>
<script src="{$basePath}/js/fineuploader/jquery.fineuploader-5.0.5.js"></script>
<script src="{$basePath}/js/jstree.js"></script>


<script src="{$basePath}/js/treeInit.js"></script>
{include scripts}
<script src="{$basePath}/js/main.js"></script>


<div class="modal fade" id="AboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">
			O aplikaci
		</h4>
	  </div>
	  <div class="modal-body">
	  <b>Herbarium System</b><br>
	  Informační systém pro evidování
	Tato aplikace vznikla jako bakalářská práce na FIT VUT.<br>
	<br>
	Jedná se o virtuální digitální herbář pro studenty středních škol.
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>

	  </div>
	</div>
  </div>
</div>

{if isset($help)}
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">
			Nápověda - {$help->title}
		</h4>
	  </div>
	  <div class="modal-body">
		{!$help->text}
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>

	  </div>
	</div>
  </div>
</div>
{/if}


</body>
</html>
