{block title}{$title}{/block}
<h1 n:block=header>{$header}</h1>
{block scripts}{/block}
{block content}
hello
<table>
    {*<tr n:foreach="$books as $book">*}
        {*<td>{$book->name}</td>*}

    {*</tr>*}
</table>
{/block}