{block title}{$title}{/block}
{block scripts}{/block}
<h1 n:block=header>{snippet headerSnippet}{$header}{/snippet}</h1>

@{block content}

<div class="row">
	{if $units == NULL}
	<h2 class="col-xs-12 col-sm-12">Ještě nikdo nepřidal žádné položky... lajdáci:(</h2>
	{else}
	<div n:foreach="$units as $unit" class="col-xs-12 col-sm-3">
		<div class="box box-pricing">
		<a href="{link Public:unit $unit[id]}">
			<div class="thumbnail">
				<img src="{plink Image:unitPhoto $unit[img], 'medium'}" alt="">
				<div class="caption">
					<h5 class="text-center">{$unit[name]}</h5>

				</div>
			</div>
		</a>
		</div>
	</div>
	{/if}
</div>