{block title}{$title}{/block}
{block scripts}{/block}
<h1 n:block=header>{snippet headerSnippet}{$header}{/snippet}</h1>

@{block content}

				<div id="tabs">
					<ul>
						<li n:foreach="$directories as $directory" {if $directory->id == $activeDir} class="ui-tabs-active ui-state-active"{/if}>
							<a href="{plink GetUnits! $directory->id}" data-url="{link Student:units $directory->id}" onclick="setUrl({link Student:units $directory->id});" class="ajax" title="{$directory->desc}">{$directory->name}</a>
						</li>
						{if isset($showAddEdit) && $showAddEdit == true}
							<li>
								<a href="{link newDirectory! 0}" class="ajax tomodal" data-toggle="modal" data-target="myModal" ><i class="fa fa-plus"></i> Nový herbář</a>
							</li>
						{snippet EditSnippet}
							<li>
								<a href="{link newDirectory! $dirID}" class="ajax tomodal" data-toggle="modal" data-target="myModal" ><i class="fa fa-edit"></i></a>
							</li>
							<li>
								<a id="del{$dirID}" href="#" class="notable" data-url="{link delDirectory! $dirID}" data-href="javascript:del({$dirID})"   data-toggle="confirmation" data-placement="top" data-original-title="Opravdu smazat?" title=""><i class="fa fa-trash"></i></a>
							</li>
						{/snippet}
						{/if}
					</ul>
				</div>

{if isset($showAddEdit) && $showAddEdit == true}
	{snippet newUnitLinkSnippet}
		<a href="{link Student:newUnit $dirID}" class="btn btn-success newUnit" ><i class="fa fa-plus"></i> Nová položka</a>
	{/snippet}
{/if}
{snippet unitSnippet}
<table class="table table-striped table-hover table-heading table-datatable dataTable" id="datatable">
	<thead>
	<tr>
		<th n:foreach="$attributes as $attribute">
			{$attribute->name}
		</th>
	{if isset($showAddEdit) && $showAddEdit == true}
		<th>
			{*this is just because the last comlumn with actions*}
		</th>
	{/if}
	</tr>
	</thead>
	<tbody>
	{php $vykresleno = false}
	{* Nette\Doc du je peux*}
	<tr n:foreach="$units as $unit" id="row_{$unit[id]}">
		<td n:foreach="$attributes as $attribute">
		{if !$vykresleno}
			<a href="{link Student:unit $unit[id]}">
				{if $attribute->type == file}
					<img src="{plink Image:unitPhoto $unit[atts][$attribute->id][id], 'small'}">
				{else}
					{$unit[atts][$attribute->id]}
				{/if}
			</a>
		{php $vykresleno = true}
		{else}
			{if $attribute->type == file}
				<img src="{plink Image:unitPhoto $unit[atts][$attribute->id][id], 'small'}">
			{else}
				{$unit[atts][$attribute->id]}
			{/if}
		{/if}
		</td>
		{php $vykresleno = false}
		{if isset($showAddEdit) && $showAddEdit == true}
			<td>
				<div class="btn-group btn-group-sm">
					<a href="{link Student:unit $unit[id]}"  class=" btn btn-primary" >
						<i class="fa fa-eye"></i>
					</a>
					<a href="{link editUnit $unit[id]}"  class=" btn btn-info" >
						<i class="fa fa-edit"></i>
					</a>
					<a id="del{$unit[id]}" href="#" data-url="{link deleteUnit! $unit[id]}" data-href="javascript:del({$unit[id]})"  class=" btn btn-danger ajax"  data-toggle="confirmation" data-placement="top" data-original-title="Opravdu smazat?" title="">
						<i class="fa fa-trash"></i>
					</a>
				</div>
			</td>
		{/if}
	</tr>
	</tbody>
</table>
<script>
update();
</script>
{/snippet}


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">
			{snippet titleSnippet}
			  {if isset($showTitle)}
				{$modalTitle}
			  {/if}
			{/snippet}
		</h4>
	  </div>
	  <div class="modal-body">
	  {snippet dirFormSnippet}
			{if isset($showDirForm)}
			{control dirForm}
		  {/if}
		{/snippet}
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
	  </div>
	</div>
  </div>
</div>
