{block title}{$title}{/block}
<h1 n:block=header>{$header}</h1>
{block scripts}{/block}
@{block content}


<table class="table table-striped table-hover table-heading table-datatable dataTable" id="datatable">
	<thead>
		<tr>
			<th>Název třídy</th>
			<th>Školní rok</th>
			<th>Počet studentů</th>
		</tr>
	</thead>
	<tbody>
	{foreach $grades as $grade}
		<tr>
			<td>
				<a href="{link Public:students $grade->id}">{$grade->name}</a>
			</td>
			<td>
				{$grade->schoolYear}
			</td>
			<td>
				{$addGrades[$grade->id][count]}
			</td>
		</tr>
	{/foreach}
	</tbody>
</table>
