{block title}{$title}{/block}
<h1 n:block=header>{$header}</h1>
{block scripts}{/block}
@{block content}


<table class="table table-striped table-hover table-heading table-datatable dataTable" id="datatable">
	<thead>
		<tr>
			<th>Jméno a příjmení</th>
			<th class="number">Veřejné položky položek</th>
			{if @$teacher == true}
				<th class="number">Školní položky</th>
 			{/if}
		</tr>
	</thead>
	<tbody>
	{foreach $users as $user}
		<tr>
			<td>
				<a href="{link Public:units $addUsers[$user->id][dir]}">{$user->name}</a>
			</td>
			<td class="number">
				{$addUsers[$user->id][count]}
			</td>
			{if @$teacher == true}
			<td class="number">
				{$addTeacherUsers[$user->id][count]}
 			</td>
 			{/if}
		</tr>
	{/foreach}
	</tbody>
</table>
