{block title}{$title}{/block}

<h1 n:block=header>{snippet headerSnippet}{$header}{/snippet}</h1>

{block scripts}
<script type="text/javascript" src="{$basePath}/js/highslide/highslide-with-gallery.js"></script>

<link rel="stylesheet" type="text/css" href="{$basePath}/css/highslide/highslide.css" />
<script type="text/javascript">
	initGalery();
</script>

{/block}
@{block content}
<table>
	<tr>
	{if !isset($owner)}
		{if isset($showRatingButton)}
			<td>
				<a n:href="rating! $unit[id]" class="ajax tomodal btn btn-success" data-toggle="modal" data-target="myModal" ><i class="fa fa-signal"></i> Hodnotit</a>
			</td>
		{/if}
			<td>
				<a n:href="msg!	$unit[id]" class="ajax tomodal btn btn-primary" data-toggle="modal" data-target="myModal" ><i class="fa fa-envelope"></i> Poslat zprávu</a>
			</td>
	{/if}
		{if isset($owner)}
		<td>
		<a href="{link Student:editUnit $unit[id]}"	class=" btn btn-info" >
				<i class="fa fa-edit"></i> Editovat
			</a>
		</td>
		{/if}
	</tr>
</table>

<table>
	<tr n:foreach="$attributes as $attribute">
	{*if it is not set -> dont show it :)*}
	{if !isset($unit[atts][$attribute->id]) }
	{php continue;}
	{/if}
		<th>{$attribute->name}</th>
		<td>
		{if $unit[atts][$attribute->id] == NULL}
			-
		{else}
			{if isset($unit[atts][$attribute->id][type]) && $unit[atts][$attribute->id][type] == img}

		<a href="{plink Image:unitPhoto $unit[atts][$attribute->id][id], 'big'}" class="highslide" onclick="return hs.expand(this)">
			<img src="{plink Image:unitPhoto $unit[atts][$attribute->id][id], 'small'}" alt="{$attribute->name}"
			title="Klikněte pro zvětšení" />
		</a>

	<div class="highslide-heading">
		{$attribute->name}
	</div>
			{else}

				{if $attribute->latin == true}
					<i>{$unit[atts][$attribute->id]}</i>
				{else}
					{$unit[atts][$attribute->id]}
				{/if}

			{/if}
		{/if}
		</td>
	</tr>
	{if isset($taxonomy)}
	<tr>
		<th>Zařazení</th>
		<td>{$taxonomy}</td>
	</tr>
	{/if}
	<tr>
		<th>Autor</th>
		<td><a href="{link Student:profile $author->id}">{$author->name}</a></td>
	</tr>	<tr>
		<th>Fotoaparát</th>
		<td>{$device}</td>
	</tr>
	{if isset($showRating)}
    <tr>
        <th>Hodnocení</th>
        <td>{$rating}</td>
    </tr>
    <tr>
        <th>Komentář</th>
        <td>{$comment}</td>
    </tr>
	{/if}
</table>






<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">
			{snippet titleSnippet}
				{if isset($showTitle)}
				{$modalTitle}
				{/if}
			{/snippet}
		</h4>
		</div>
		<div class="modal-body">
		{snippet ratingFormSnippet}
			{if isset($showRatingForm) && $showRatingForm == true}
				<fildset><legend>Hodnocení položky</legend>
				<h4> Přetáhněte posuvníkem</h4>
				<div class="progress progress-ui">
					<div class="progress-bar progress-bar-success slider-range-min" id="sliderMin" style="width: 100%;"></div>
				</div>
				<script>
					setProgress({$rating});
				</script>

				{control ratingForm}
				</fieldset>
			{/if}
		{/snippet}
		{snippet msgFormSnippet}
		{if isset($showMsgForm) && $showMsgForm == true}
			{control msgForm}
		{/if}
		{/snippet}
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
		</div>
	</div>
	</div>
</div>
