{block title}{$title}{/block}
{block scripts}
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="{$basePath}/js/jquery.easypiechart.js"></script>
	<script>
	$(function() {
		$('.chart').easyPieChart({
			easing: 'easeOutBounce',
			onStep: function(from, to, percent) {
				$(this.el).find('.percent').text(Math.round(percent));
			}
		});
		var chart = window.chart = $('.chart').data('easyPieChart');
	});
	</script>
{/block}
<h1 n:block=header>{snippet headerSnippet}{$header}{/snippet}</h1>

@{block content}
{if isset($showSearchBox)}
{control searchBox}
{/if}
	{if isset($directories)}
		<div id="tabs">
			<ul>
				<li n:foreach="$directories as $directory" {if $directory->id == $activeDir} class="ui-tabs-active ui-state-active"{/if}>
					<a href="{plink GetUnits! $directory->id}" data-url="{link Public:units $directory->id}" onclick="setUrl({link Public:units $directory->id});" class="ajax" title="{$directory->desc}">{$directory->name} {if ($role == student || $role == teacher) && isset($showAddEdit) && $showAddEdit == true}<i class="fa fa-{$types[$directory->type]}"></i>{/if}</a>
				</li>
			{if ($role == student || $role == teacher) && isset($showAddEdit) && $showAddEdit == true}
				<li>
					<a href="{link newDirectory! 0}" class="ajax tomodal" data-toggle="modal" title="Přidat nový hernář" data-target="myModal" ><i class="fa fa-plus"></i> Nový herbář</a>
				</li>
			{snippet EditSnippet}
				<li>
					<a href="{link newDirectory! $dirID}" class="ajax tomodal" data-toggle="modal" data-target="myModal"  title="Editovat tento herbář" ><i class="fa fa-edit"></i></a>
				</li>
				<li>
					{if count($directories) >1}
						<a id="del{$dirID}" href="#" class="notable" data-url="{link delDirectory! $dirID}" data-href="javascript:del({$dirID})"   data-toggle="confirmation" data-placement="top" data-original-title="Opravdu smazat?" title="Smazat tento herbář"><i class="fa fa-trash"></i></a>
					{/if}
				</li>
				<li>
					<a href="#" title="Nápověda" class="tomodal" data-toggle="modal" data-target="helpModal" ><i class="fa fa-question"></i></a>
				</li>
			{/snippet}
			{/if}
			</ul>
		</div>
	{/if}
	<div style="display: inline-block">
	{if ($role == student || $role == teacher) && isset($showAddEdit) && $showAddEdit == true}
		{snippet newUnitLinkSnippet}
			<a href="{link Student:newUnit $dirID}" class="btn btn-success newUnit" title="Přidat novou rostlinu" ><i class="fa fa-plus"></i> Nová položka</a>
			<a href="#" title="Nápověda" class="tomodal btn btn-default newUnit" data-toggle="modal" data-target="helpModal"  ><i class="fa fa-question"></i></a>
		{/snippet}
	{/if}
	</div>
	{if isset($rated) && $rated == 100 && ($role == teacher) && $type == school}
                	<a n:href="rateDir! $dirId" class="ajax tomodal btn btn-danger newUnit" data-toggle="modal" data-target="myModal" ><i class="fa fa-signal"></i> Oznámkovat</a>
                {/if}
	{snippet unitSnippet}
	{if isset($type) && $type == school}
	<table>
	<tr>
		<td>
			<span class="chart" data-percent="{$rated}">
				<span class="percent"></span>
			</span>
		</td>
		<td>
			<span class="chart" data-percent="{$avgRating}">
				<span class="percent"></span>
			</span>
		</td>
		<td>
			<table class="inline">
			<tr>
			<td>
				<big><i class="fa fa-hand-o-right" style="margin-right: 10px"></i>{$dirRating}</big>
			</td>
			<tr>
				<td>
				<div style="width: 500px">
					<big><i class="fa fa-comment-o" style="margin-right: 10px"></i></big>{$dirComment}
				</div>
				</td>
			</tr>
			</table>

		</td>
	</tr>
	<tr>
		<td class="number">Ohodnoceno</td>
		<td class="number">Průměr</td>
		<td></td>
	</tr>
	</table>
	{/if}


		<table class="table table-striped table-hover table-heading table-datatable dataTable" id="datatable">
			<thead>
			<tr>
				<th n:foreach="$attributes as $attribute">
					{$attribute->name}
				</th>
			{if ($role == student || $role == teacher) &&  isset($showAddEdit) && $showAddEdit == true}
				<th>
				</th>
			{/if}
			</tr>
			</thead>
			<tbody>
			{php $vykresleno = false}
			{* Nette\Doc du je peux*}
			<tr n:foreach="$units as $unit" id="row_{$unit[id]}">
				<td n:foreach="$attributes as $attribute">
					{if !$vykresleno}
						<a href="{link Public:unit $unit[id]}">
							{if $attribute->type == file}
								<img src="{plink Image:unitPhoto $unit[atts][$attribute->id][id], 'small'}">
							{else}
								{$unit[atts][$attribute->id]}
							{/if}
						</a>
						{php $vykresleno = true}
					{else}
						{if $attribute->type == file}
							<img src="{plink Image:unitPhoto $unit[atts][$attribute->id][id], 'small'}">
						{else}
							{$unit[atts][$attribute->id]}
						{/if}
					{/if}
				</td>
				{php $vykresleno = false}
			{if ($role == student || $role == teacher) &&  isset($showAddEdit) && $showAddEdit == true}
				<td>
					<div class="btn-group btn-group-sm">
						<a href="{link Public:unit $unit[id]}"  title="Zobrazit položku" class=" btn btn-primary" >
							<i class="fa fa-eye"></i>
						</a>
						<a href="{link Student:editUnit $unit[id]}" title="Editovat položku" class=" btn btn-info" >
							<i class="fa fa-edit"></i>
						</a>
						<a id="del{$unit[id]}" href="#" data-url="{link deleteUnit! $unit[id]}" data-href="javascript:del({$unit[id]})"  class=" btn btn-danger ajax"  data-toggle="confirmation" data-placement="top" data-original-title="Opravdu smazat?" title="">
							<i class="fa fa-trash"></i>
						</a>
					</div>
				</td>
				{/if}
			</tr>
		</tbody>
	</table>
	<script>
		update();
	</script>
	{/snippet}


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">
			{snippet titleSnippet}
			  {if isset($showTitle)}
				{$modalTitle}
			  {/if}
			{/snippet}
		</h4>
	  </div>
	  <div class="modal-body">
	  {snippet dirFormSnippet}
		{if isset($showDirForm)}
			{control dirForm}
		  {/if}
	  {/snippet}
	  		{snippet ratingFormSnippet}
      			{if isset($showRatingForm) && $showRatingForm == true}
      				<fildset><legend>Hodnocení položky</legend>
      				<h4> Přetáhněte posuvníkem</h4>
      				<div class="progress progress-ui">
      					<div class="progress-bar progress-bar-success slider-range-min" id="sliderMin" style="width: 100%;"></div>
      				</div>
      				<script>
      					setProgress({$rating});
      				</script>
      				{control ratingDirForm}
      				</fieldset>
      			{/if}
      		{/snippet}
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
	  </div>
	</div>
  </div>
</div>



