{block title}{$title}{/block}
<h1 n:block=header>{$header}</h1>
{block scripts}{/block}
{block content}


{control loginForm}

<a href="{link Login:forgottenpassword}"> Zapomněl(a) jste heslo?</a>
{* or use {include '../components/form.latte', form => signInForm} *}
