{block title}{$title}{/block}
<h1 n:block=header>{$header}</h1>
{block scripts}{/block}
@{block content}


<a n:href="ManageAttribute! 0" class="ajax tomodal  btn btn-success" data-toggle="modal" data-target="myModal" ><i class="fa fa-plus"></i> Přidat atribut</a>
<a n:href="ShowForm!" class="ajax tomodal  btn btn-info" data-toggle="modal" data-target="myModal" ><i class="fa fa-eye"></i> Zobrazit formulář</a>

{snippet attributesList}
<table class="table table-striped table-hover table-heading dataTable" id="sortable">
	<thead>
		<tr>
			<th>Název</th>
			<th>Typ</th>
			<th>Povinný</th>
			<th>Zobrazit v tabulce</th>
			<th>Latinsky</th>
			<th>Vyhledávat</th>
			<th>Placeholder</th>
			<th>Validace</th>
			<th>Akce</th>
		</tr>
	</thead>
	<tbody  id="tableBody" data-url="{link updateAttributesSort!}">
	<tr n:foreach="$attributes as $attribute" class="position" id="row_{$attribute->id}">
		<td>{$attribute->name}</td>
		<td>{$names[$attribute->type]}
			{if $attribute->type == select}<a href="javascript:$('#select{$attribute->id}').toggle();"><i class="fa fa-sort-down"></i></a>
				<p >
					<ul id='select{$attribute->id}' style="display:none">
						<li n:foreach="$options[$attribute->id] as $option">{$option->name}</li>
					</ul>
				</p>
			{/if}
		</td>
		<td>{if $attribute->require == true}<i class="fa fa-check"></i>{else}<i class="fa fa-times"></i>{/if}</td>
		<td>{if $attribute->showInTable == true}<i class="fa fa-check"></i>{else}<i class="fa fa-times"></i>{/if}</td>
		<td>{if $attribute->latin == 'true'}<i class="fa fa-check"></i>{else}<i class="fa fa-times"></i>{/if}</td>
		<td>{if $attribute->search == 'true'}<i class="fa fa-check"></i>{else}<i class="fa fa-times"></i>{/if}</td>
		<td>{$attribute->placeholder}</td>
		<td>{$attribute->regexp}</td>
		<td>
			<div class="btn-group btn-group-sm">
				<a n:href="ManageAttribute! $attribute->id" class="ajax tomodal  btn btn-info" data-toggle="modal" data-target="myModal" >
					<i class="fa fa-pencil"></i>
				</a>
				<a id="del{$attribute->id}" href="#" data-url="{link deleteAttribute! $attribute->id}" data-href="javascript:del({$attribute->id})"  class=" btn btn-danger ajax"  data-toggle="confirmation" data-placement="top" data-original-title="Opravdu smazat?" title="">
					<i class="fa fa-trash"></i>
				</a>
			</div>
		</td>
	</tr>
	</tbody>
</table>
<script>
update();
initSort();
</script>
{/snippet}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">
			{snippet titleSnippet}
			  {if isset($showTitle)}
				{$modalTitle}
			  {/if}
			{/snippet}
		</h4>
	  </div>
	  <div class="modal-body">
	  {snippet attributeFormSnippet}
		  {if isset($showAttributeForm) && $showAttributeForm == true}
			{control attributeForm}
			 <script>
			 initSelectAttribute();
			 </script>
		  {/if}
	  {/snippet}
	  {snippet attributeFullFormSnippet}
				{if isset($showFullForm) && $showFullForm == true}
				  {control attributeFullForm}
				{/if}
			{/snippet}
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
	  </div>
	</div>
  </div>
</div>