{block title}{$title}{/block}
<h1 n:block=header>{$header}</h1>
{block scripts}{/block}
@{block content}

<a n:href="ManageGrade! 0" class="ajax tomodal btn btn-success" data-toggle="modal" data-target="myModal" ><i class="fa fa-plus"></i> Přidat třídu</a>

{snippet listOfGrades}
<div class="list">
{if count($grades) > 0}
	<table class="table table-striped table-hover table-heading table-datatable dataTable" id="datatable">
	{*<table class="table table-bordered table-striped table-hover table-heading  dataTable" id="datatable">*}
		<thead>
			<tr>
				<th>Název</th>
				<th>Školní rok</th>
				<th class="action-header"></th>
			</tr>
		</thead>
		<tbody>

	{foreach $grades as $grade}
		<tr id="row_{$grade->id}">
			<td><a n:href="ShowGradeStudents! $grade->id"  class="ajax tomodal" data-toggle="modal" data-target="myModal">{$grade->name}</a></td>
			<td>{$grade->schoolYear}</td>

			<td>
				<div class="btn-group btn-group-sm">
					<a n:href="ManageGrade! $grade->id" title="Editovat třídu" class="ajax tomodal btn btn-info" data-toggle="modal" data-target="myModal" >
						<i class="fa fa-pencil"></i>
					</a>
					<a id="del{$grade->id}" href="#" data-url="{link DelGrade! $grade->id}" data-href="javascript:del({$grade->id})"  class="ajax  btn btn-danger"  data-toggle="confirmation" data-placement="top" data-original-title="Opravdu smazat?" title="">
						<i class="fa fa-trash"></i>
					</a>
					<a n:href="Teachers! $grade->id" class="ajax tomodal btn btn-default" data-toggle="modal"  title="Zadat učitele" data-target="myModal" >
                    						<i class="fa fa-users"></i>
                    					</a>

					{if $grade->registration == 'true'}
						<a id="reg{$grade->id}" href="#" data-url="{link changeRegistration! [$grade->id, 1]}" data-href="javascript:reg({$grade->id},false)"  class="ajax btn btn-success"  data-toggle="confirmation" data-placement="top" data-original-title="Zamknout registraci?" >
							<i class="fa fa-unlock" id="reg{$grade->id}_icon" title="Zamknout registraci"></i>
						</a>
						{else}
						<a id="reg{$grade->id}" href="#" data-url="{link changeRegistration! [$grade->id, 0]}" data-href="javascript:reg({$grade->id},true)"  class="ajax btn btn-warning"  data-toggle="confirmation" data-placement="top" data-original-title="Odemknout registraci?" >
							<i class="fa fa-lock" id="reg{$grade->id}_icon" title="Odemknout registraci"></i>
						</a>
					{/if}
				</div>
			</td>
		</tr>
	{/foreach}

		</tbody>
	</table>
{else}
	<div class="notice">Ještě nebyly vloženy žádné třídy</div>
{/if}
</div>
<script>
update();
</script>
{/snippet}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">
			{snippet titleSnippet}
			  {if isset($showTitle)}
				{$modalTitle}
			  {/if}
			{/snippet}
		</h4>
	  </div>
	  <div class="modal-body">
	  {snippet gradeFormSnippet}
		  {if isset($showGradeForm)}
			{control gradeForm}
		  {/if}
		  {if isset($showTeachers)}
		  <h3>Učitelé</h3>
		    <ul>
		    {php $vykresli = false}
		        <li n:foreach="$teachers as $teacher" id="row_{$teacher->id}" >{$teacher->name}
		        {if $vykresli}
				<a id="del{$teacher->id}" href="#" data-url="{link DelTeacher! $teacher->id}" onclick="javascript:del({$teacher->id})"  >
					<i class="fa fa-trash"></i>
				</a>
				{/if}
				{php $vykresli = true}
				</li>

		    </ul>
		    <h3>Přidat dalšího uživatele</h3>
            {control teachersForm}
          {/if}
		  {if isset($showGradeStudents)}
			 <ul>
			 {foreach $gradeStudents as $student}
				<li><a href="{link Login:profile $student->id}">{$student->name}</a></li>
			 {/foreach}
			 </ul>
		  {/if}

	  {/snippet}
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>

	  </div>
	</div>
  </div>
</div>

