{block title}{$title}{/block}
<h1 n:block=header>{$header}</h1>
{block scripts}{/block}
@{block content}

<a n:href="AddTaxonomyType! 0" class="ajax tomodal btn btn-success" data-toggle="modal" data-target="myModal" ><i class="fa fa-plus"></i>	Přidat taxon</a>

{snippet listOfTypes}
<table class="table table-striped table-hover table-heading dataTable" id="sortable">
	<thead>
	<tr>
		{*<th>Pořadí</th>*}
		<th>Název</th>
		<th>Akce</th>
	</tr>
	</thead>
	<tbody id="tableBody" data-url="{link updateTypesSort!}">
	<tr n:foreach="$types as $type" class="position" id="row_{$type->id}">
		{*<td>{$type->order}</td>*}
		<td>{$type->name}</td>
		<td>
		<div class="btn-group btn-group-sm">
			<a n:href="EditType! $type->id" class="ajax tomodal btn btn-info" data-toggle="modal" data-target="myModal" >
				<i class="fa fa-pencil"></i>
			</a>
			<a id="del{$type->id}" href="#" data-url="{link DelType! $type->id}" data-href="javascript:del({$type->id})"	class="ajax btn btn-danger"	data-toggle="confirmation" data-placement="top" data-original-title="Opravdu smazat?" title="">
				<i class="fa fa-times"></i>
			</a>
		</div>
		</td>
	</tr>
	</tbody>
</table>
<script>
update();
initSort();
</script>
{/snippet}
{* or use {include '../components/form.latte', form => signInForm} *}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">
			{snippet titleSnippet}
				{if isset($showTitle)}
				{$modalTitle}
				{/if}
			{/snippet}
		</h4>
		</div>
		<div class="modal-body">
		{snippet typeFormSnippet}
			{if isset($showTypeForm)}
				{control typeForm}
			{/if}
		{/snippet}
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>

		</div>
	</div>
	</div>
</div>