{block title}{$title}{/block}
<h1 n:block=header>{$header}</h1>
{block scripts}{/block}
@{block content}
<table  class="table table-striped table-hover table-heading table-datatable dataTable" id="datatable">
	<thead>
		<tr>
			<th>Jméno</th>
			<th>Třídy</th>
			<th>Datum registrace</th>
		</tr>
	</thead>
	<tbody>
	<tr n:foreach="$data as $item">
		<td><a href="{link Student:profile $item[user]->id}">{$item[user]->name}</a></td>
		<td>
		{foreach $item[grades] as $grade}
		{$grade->grade->name}
		{/foreach}
		</td>
		<td>{$item[user]->dateReg|date:'%d.%m.%Y %H:%M:%S'}
	</tr>
	</tbody>
</table>

