.medium-text { width: 250px; !important;}

[data-toggle="confirmation"]
{
    cursor: pointer;
}

/** because bootstraps modal is jumping! */
.modal-open, .modal-open .navbar-fixed-top {
    margin-right: 0 !important;
}

.profileTable th
{
    font-weight: bold;
    text-align: right;
    border-right: 1px solid #007700;
}

.profileTable th, td
{
    padding: 6px;
}

#image-uploader
{
    vertical-align: middle;
    display: inline-block !important;
}

.novy-herbar
{
    color: #47A942;
}

.leftForm
{
    display: inline-block;
    /*float: left;*/
    /*margin-left: 30px;*/
}

.rightForm
{
    display: inline-block;
    vertical-align: top;
    /*float: right;*/
}

.h2Form
{
    margin-bottom: 10px;
}

.newUnit
{
    margin-top: 10px;
}

.hidden
{
    display: none;
}

.sliderValue
{
    text-align: center;
}

.point
{
    cursor: pointer;
}

.chat
{
    padding: 0px 10px 0px 10px;
}
.chat li
{
    list-style: none;
    margin: 5px;
    padding: 5px;
}
.chat li div
{
    padding: 5px;
    border-radius: 5px;

}
.chatDate
{
    font-size: 60%;
    color: #505050;
    display: block;
}

.chatName
{
    font-weight: bold;
}

.chatEmail
{
    font-style: italic;
}
.chatText
{

}
.leftMsg
{

    /*color:green;*/
    text-align: left;
    /*float:left;*/
}
.rightMsg
{
    list-style: none;
    /*color: red;*/
    text-align: right;
    /*float: right;*/
}

.rightMsg div
{
    display: inline-block;
    background-color: #c6ffba;
}
.leftMsg div
{
    display: inline-block;
    background-color: #DBDBDB;
}

.required:after
{
    content: '*';
}

.has-error
{
    border-color: red;
}

.requiredFile
{
    display: none !important;
}

.qq-width
{
    width: 230px !important;
}


.qq-width li
{
    width: 230px !important;
}

.helpList
{
    margin: 5px;
}

.number
{
    text-align: center;
}



.chart {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    /*margin-top: 50px;*/
    /*margin-bottom: 50px;*/
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent {
    display: inline-block;
    line-height: 70px;
    z-index: 2;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}
.angular {
    margin-top: 100px;
}
.angular .chart {
    margin-top: 0;
}

.inline
{
    display: inline-block;
}